
packages/Newtonsoft.Json.12.0.3/.signature.p7s
packages/Newtonsoft.Json.12.0.3/lib/net20/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.3/lib/net20/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.3/lib/net35/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.3/lib/net35/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.3/lib/net40/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.3/lib/net40/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.3/lib/net45/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.3/lib/net45/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.3/lib/netstandard1.0/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.3/lib/netstandard1.0/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.3/lib/netstandard1.3/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.3/lib/netstandard1.3/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.3/lib/netstandard2.0/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.3/lib/netstandard2.0/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.3/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.3/lib/portable-net40+sl5+win8+wp8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.3/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.dll
packages/Newtonsoft.Json.12.0.3/lib/portable-net45+win8+wp8+wpa81/Newtonsoft.Json.xml
packages/Newtonsoft.Json.12.0.3/LICENSE.md
packages/Newtonsoft.Json.12.0.3/Newtonsoft.Json.12.0.3.nupkg
packages/Newtonsoft.Json.12.0.3/packageIcon.png
obj/Release/TempPE/Properties.Resources.Designer.cs.dll
obj/Release/SoundInvoker.Properties.Resources.resources
obj/Release/SoundInvoker.pdb
obj/Release/SoundInvoker.OptionsUI.resources
obj/Release/SoundInvoker.MainForm.resources
obj/Release/SoundInvoker.ItemUI.resources
obj/Release/SoundInvoker.exe
obj/Release/SoundInvoker.csprojAssemblyReference.cache
obj/Release/SoundInvoker.csproj.ResolveComReference.cache
obj/Release/SoundInvoker.csproj.GenerateResource.cache
obj/Release/SoundInvoker.csproj.FileListAbsolute.txt
obj/Release/SoundInvoker.csproj.CopyComplete
obj/Release/Interop.WMPLib.dll
obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
obj/Release/DesignTimeResolveAssemblyReferences.cache
obj/Release/AxInterop.WMPLib.dll
obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
obj/Debug/SoundInvoker.Properties.Resources.resources
obj/Debug/SoundInvoker.pdb
obj/Debug/SoundInvoker.OptionsUI.resources
obj/Debug/SoundInvoker.MainForm.resources
obj/Debug/SoundInvoker.ItemUI.resources
obj/Debug/SoundInvoker.exe
obj/Debug/SoundInvoker.csprojAssemblyReference.cache
obj/Debug/SoundInvoker.csproj.ResolveComReference.cache
obj/Debug/SoundInvoker.csproj.GenerateResource.cache
obj/Debug/SoundInvoker.csproj.FileListAbsolute.txt
obj/Debug/SoundInvoker.csproj.CopyComplete
obj/Debug/LITE_VERSION.csprojAssemblyReference.cache
obj/Debug/LITE_VERSION.csproj.ResolveComReference.cache
obj/Debug/Interop.WMPLib.dll
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/build.force
obj/Debug/AxInterop.WMPLib.dll
bin/Debug/account.json
bin/Release/account.json
.vs/SoundInvoker/v16/Server/sqlite3/storage.ide-wal
.vs/SoundInvoker/v16/Server/sqlite3/storage.ide-shm
.vs/SoundInvoker/v16/.suo
.vs/SoundInvoker/v16/.suo
obj/Release/SoundInvoker.TwitchOptions.resources
.vs/SoundInvoker/v16/.suo
.vs/SoundInvoker/v16/.suo
.vs/SoundInvoker/v16/.suo
.vs/SoundInvoker/v16/Server/sqlite3/storage.ide
